@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Inter', 'Montserrat';
  src: local('Inter'), url(./fonts/Inter.ttf) format('ttf');
  src: local('Montserrat'), url(./fonts/Montserrat.ttf) format('ttf');
  /* src: local('Montserrat'), url(./fonts/MyFont.woff) format('woff'); */
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: red; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.section {
  padding-bottom: 100px;
}

.backdrop {
  /* position: relative; */
  width: 100%;
  height: 100%;
  pointer-events: all;
}

#drop-down-root {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
