@import './utils.scss';

.goals {
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(44 / 36);

    text-transform: uppercase;
    background: linear-gradient(180deg, #b670ff 0%, #9129fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
  }

  &__list {
    margin-top: 260px;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  &__item {
    width: 335px;
    // padding-right: 50px;
  }

  &__item-id {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9129fe;
    border-radius: 50%;
    outline: 12px solid #c299ff;
    width: 40px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);

    color: #ffffff;
    z-index: 1;
  }
  &__item-title {
    margin-top: 45px;
    font-weight: 600;
    font-size: 25px;
    line-height: calc(32 / 25);
    text-transform: uppercase;
    color: #535353;
  }

  &__item-text {
    font-weight: 300;
    font-size: 16px;
    line-height: calc(21 / 16);
    color: #535353;
  }

  &__img-left {
    position: absolute;
    left: 5%;
    top: 10%;

    @include desktop {
      display: none;
    }
  }

  &__img-right {
    position: absolute;
    right: 5%;
    bottom: 5%;

    @include desktop {
      display: none;
    }
  }
}

.run-text {
  position: absolute;
  top: 20%;
  left: -100%;
  display: flex;
  gap: 80px;
  font-weight: 900;
  font-size: 150px;
  line-height: calc(183 / 150);

  color: #b670ff;

  animation-name: run-text;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &__color {
    // text-fill-color: transparent;
    color: #535353;
  }
}

.wrapper {
  position: relative;
}

.line {
  display: block;
  position: absolute;
  width: 370%;
  height: 2px;
  background-color: #c299ff;
  z-index: 0;
  bottom: 46%;
}

@keyframes run-text {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  5% {
    opacity: 0.15;
  }
  95% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}
